[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==4.4.2"
mock = "*"
pytest-testdox = "*"
toml = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
